.anime-background-primary {    
    animation: rotate 2s;    
}

@keyframes rotate {
    from {
        transform: rotate(180deg) scale(0.2);        
    }
    
    to {
        transform: rotate(0deg) scale(1.0);        
    }    
}

.anime-background-secondary {    
    animation: zoomIn 2s;    
}

@keyframes zoomIn {
    from {
        transform: scale(0.2);
        opacity: 0;        
    }
    
    to {
        transform: scale(1.0);        
        opacity: 1;        
    }    
}

.anime-note-music {
    animation: pingPong 2s;   
    animation-delay: 1s;  
    opacity: 0;  
    animation-fill-mode: forwards;
}

@keyframes pingPong {
    0% {
        transform: scale(1.8);               
        opacity: 1;    
    }

    10% {
        transform: scale(0.5);    
        opacity: 1;       
    }

    20% {
        transform: scale(1.0);  
        opacity: 1;         
    }

    30% {
        transform: scale(0.6);   
        opacity: 1;        
    }

    40% {
        transform: scale(1.0);           
        opacity: 1;
    }

    50% {
        transform: scale(0.8);  
        opacity: 1;         
    }

    60% {
        transform: scale(1.0);           
        opacity: 1;
    }    

    100% {
        opacity: 1;
    }
}


.anime-content {
    animation: fadeIn 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

@keyframes fadeIn {    
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
