button {
    font-size: 15px;
    font-family: "hr";
}

.btn {    
    border: none;
    outline: none;
    padding: 10px 30px;
    border-radius: 7px;
    margin-top: 25px;
    cursor: pointer;
}

.btn-primary {
    color: white;
    background-color: $PrimaryColor;
}

.btn-secondary {
    color: white;
    background-color: $FourthColor;
}